.post {
    background: var(--gray-800);
    border-radius: 8px;
    padding:2.5rem;
}

/*Abaixo temos uma maneira de colocar um espaço entre posts 
Nessa seleção, apensa um .post que tenha um outro .post antes dele será selecionado; O mesmo resultado poderia ser utilizado com seletor nth child ou propriedade gap, mas estamos praticando várias maneiras.*/
.post + .post {
    margin-top: 2rem;
}

.post > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post > header time {
    font-size: 0.875rem;
    color: var(--gray-400);
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.authorInfo {
    display: flex;
    flex-direction: column;
}

.authorInfo strong {
    color: var(--gray-100);
    line-height: 1.6;
}

.authorInfo span {
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}


.content {
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}


.content p {
    margin-top: 1rem;
}

.content a {
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;
}

.content a:hover {
    color: var(--green-300)
}

.commentForm {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600)
}
.commentForm > strong {
    line-height: 1.6;
    color: var(--gray-100);
}

.commentForm textarea {
    
    width: 100%;
    background: var(--gray-900);
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    margin-top: 1rem;
}

.commentForm footer {
    visibility: hidden;
    max-height: 0;
}
/*Em caso de duvida: o focus-within abaixo está ligado ao .commentForm, então se qualquer parte do comment:form for focada, o footer receberá as propriedades descritas nas chaves. OBS: não causar confusão, quem está recebendo o focus é toda a classe comment form e não o footer, caso contrário seria .commentForm footer:focus-within*/
.commentForm:focus-within footer {
    visibility: visible;
    max-height: none;
}

.commentForm button[type=submit] {
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background: var(--green-500);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s linear;
}

.commentForm button[type=submit]:not(:disabled):hover {
    background: var(--gray-300);
}

.commentForm button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}